[[source]]

name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"


[dev-packages]


[packages]

django = "*"
django-environ = "*"
django-generate-secret-key = "*"
"psycopg2" = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "*"
django-mptt = "*"
djangorestframework-recursive = "*"
django-autoslug = "*"
drfdocs = "*"
